body {
  background-color: #e5e8ea;
}
.ihide {
  white-space: nowrap;
  overflow: hidden;
  text-indent: -9999em;
}
.container {
  width: 1004px;
}
.wrapHeader .container {
  width: 1004px;
}
#header {
  margin-top: 55px;
  margin-bottom: 15px;
}
#header h1 {
  float: left;
}
#header .nav {
  float: right;
  margin-bottom: 0;
  margin-top: 5px;
}
#header .nav li {
  margin-left: 15px;
}
#container .container {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  border-radius: 5px;
}
#container .slogan {
  height: 425px;
  background: url(image/slogan.png) top center no-repeat;
}
#container .slogan h1 {
  white-space: nowrap;
  overflow: hidden;
  text-indent: -9999em;
}
#container .slogan img {
  margin: 80px 0 0 302px;
}
#container .intro {
  background: url(image/intro.png) top center no-repeat;
  overflow: hidden;
  height: 0;
  padding-top: 240px;
}
#container .sparkLight {
  height: 476px;
  overflow: hidden;
}
#container .spark1,
#container .spark2,
#container .spark3,
#container .spark4 {
  background-image: url(image/spark.png);
  float: left;
  width: 50%;
  height: 238px;
}
#container .spark1 h3,
#container .spark2 h3,
#container .spark3 h3,
#container .spark4 h3 {
  white-space: nowrap;
  overflow: hidden;
  text-indent: -9999em;
  height: 30px;
}
#container .spark1 p,
#container .spark2 p,
#container .spark3 p,
#container .spark4 p {
  padding-left: 20px;
  text-align: center;
  padding-top: 40px;
  font-family: '黑体';
}
#container .spark1 p span,
#container .spark2 p span,
#container .spark3 p span,
#container .spark4 p span {
  padding-left: 10px;
}
#container .spark2 p,
#container .spark4 p {
  padding-left: 0;
  padding-right: 20px;
}
#container .spark1 {
  background-position: 0 0;
}
#container .spark1:hover {
  background-position: 0 -478px;
}
#container .spark2 {
  background-position: -502px 0;
}
#container .spark2:hover {
  background-position: -502px -478px;
}
#container .spark3 {
  background-position: 0 -238px;
}
#container .spark3:hover {
  background-position: 0 -716px;
}
#container .spark4 {
  background-position: -502px -238px;
}
#container .spark4:hover {
  background-position: -502px -716px;
}
#container .prdSlogan {
  background: url(image/prdSlogan.png) top center no-repeat;
  height: 0;
  padding-top: 200px;
  overflow: hidden;
}
#container .prdContent {
  padding: 0 20px 45px;
  background: url(image/prdListbottom.png) 375px bottom no-repeat;
}
#container .prdContent dl {
  clear: both;
  overflow: hidden;
  border-bottom: 1px solid #bfbfbf;
  padding: 40px 0px;
  margin: 0;
  background: url(image/prdBorder.png) 341px top repeat-y;
}
#container .prdContent dl dt {
  float: left;
  width: 350px;
}
#container .prdContent dl dt h2 {
  white-space: nowrap;
  overflow: hidden;
  text-indent: -9999em;
  height: 30px;
  background-image: url(image/prdT.png);
  background-repeat: no-repeat;
}
#container .prdContent dl dd {
  float: right;
  width: 550px;
  line-height: 24px;
}
#container .prdContent dl dd ul {
  list-style: outside none;
  margin-left: 0;
  margin-bottom: 0;
}
#container .prdContent dl dd ul li {
  line-height: 24px;
  padding-left: 15px;
  background: url(image/listRound.png) 0 7px no-repeat;
}
#container .prdContent dl.first {
  background: url(image/firstShadow.png) top center no-repeat;
}
#container .prdContent dl.last {
  padding-bottom: 0;
  border-bottom: none;
}
#container .prdContent .prdT2 {
  background-position: 0 -30px;
}
#container .prdContent .prdT3 {
  background-position: 0 -60px;
}
#container .prdContent .prdT4 {
  background-position: 0 -90px;
}
#footer {
  height: 115px;
  text-align: center;
}
#footer nav {
  font-size: 12px;
  padding: 20px 0 10px;
}
#footer nav span {
  padding: 0 10px;
  height: 12px;
  line-height: 12px;
}
#footer nav .seperator {
  border-left: 1px solid #333333;
  border-right: 1px solid #333333;
}
#footer nav a {
  color: #333333;
}
.wrapFooter {
  margin-top: 20px;
}
